body {
	padding: 10px;
	font-family: sans-serif;
}

.imgs{
	width: 100%;
}

.uniform{
	height: 250px;
	overflow: hidden;
}

.icolor{
	color: red;
}

.mountains{
	margin-bottom: 10px;
	width: 350px;
		height:350px;
}

.newcolour{
	color:pink ;
}

.newcolour, .icolor{
	font-size: 2em;
	cursor:pointer;
}

.editHolder{
	margin-bottom: 10px;
	width: 350px;
		height:350px;
}